/* Enter your custom styles here */

.blue-background {
    background-color: #4573aa !important;
}

.white-text {
    color: #e4e4e4 !important;
}

.grey-text {
    color: #495666 !important;
    font-weight: bold;
}

.gold-indicator>.sapMPIBar {
    background: #d2a738 !important;
}

.sapSuiteUiCommonsTimelineItemShellUser > a {
    color: #d2a738 !important;
}

.sapSuiteUiCommonsTimeline {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 90% !important;
}

button.white-text>.sapMBtnText {
    color: white !important;
    border-color: white !important;
}

/* hide FCL expansion button */
.sapFFCLArrow>button>span {
    display: none !important;
    cursor: not-allowed;
    background-color: rgb(229, 229, 229) !important;
    height: 0px;
}

.sapFFCLArrow>button::before {
    display: none;
}

.sapFFCLArrow>button::after {
    display: none;
}